{% extends "base.html" %}
{% load static %}


{%block content%}
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y bg">

		{%include 'includes/alert.html' %}

<div class="container">
	<div class="row">
		{%include 'includes/dashboard_sidebar.html' %}
	
	<main class="col-md-9">
		<article class="card">
		<header class="card-header">
			<strong class="d-inline-block mr-3">Password Update </strong>
		</header>
		<div class="card-body">
			<div class="row"> 
                <div class="col-md-12">
				<form action="{%url 'update_password'%}" method="POST">
					{% csrf_token %}

					<div class="form-row">
                        <div class="form-group col-md-12">
                          <label>Current Password </label>
                          <input type="password" name="current_password" placeholder="Current Password" class="form-control" required>
                         </div>
                       </div>
                     
					   <div class="form-row">
                        <div class="form-group col-md-12">
                          <label>Update Password </label>
						  <input type="password" name="update_password" placeholder="Update New Password" class="form-control"  required>

                         </div>
                       </div>
					   <div class="form-row">
                        <div class="form-group col-md-12">
                          <label>Confirm Password</label>
						  <input type="password" name="confirm_password" placeholder="Confirm New Password" class="form-control" required >

                         </div>
                       </div>
					   <input type="submit" value="Update " class="btn btn-primary">

					</form>
                </div>
				
			</div> <!-- row.// -->
		</div> <!-- card-body .// -->
		</article> <!-- order-group.// --> 
	</main>
</div> <!-- row.// -->
</div>


</section>
<!-- ========================= SECTION CONTENT END// ========================= -->


{% endblock %}